body{background-image: url(back.jpg);
  background-size: 1600px;
}@font-face {
  font-family: myFirstFont;
  src: url(Papyrus.ttf);
}

* {
  color:orange;
  font-family: myFirstFont;
#game-button{
  position: absolute;
  bottom: 10px;
  left: 10px;
}
